/* ----------------------------- Color Palette ----------------------------- */
/* http://www.palettable.io/0E376F-FFD700-7B68EE-9697E7-D8D0CC */
$primary-blue: #0E376F;
$primary-yello: #FFD700;

$primary-purple: #7B68EE;
$secondary-purple: #9697E7;
$secondary-gray: #D8D0CC;
